<% content_for :html_id, "extr-page" %>
<% content_for :body_class, "animated fadeInDown" %>
<% content_for :top_right do %>
  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">是否建立新帐号?</span>
    <%= link_to '建立新帐号', miscellaneous_register_path, class: 'btn btn-danger' %>
  </span>
<% end %>
<!-- MAIN CONTENT -->
<div id="content" class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
      <h1 class="txt-color-red login-header-big">弼力戰略智能化系統</h1>
      <div class="hero">

        <div class="pull-left login-desc-box-l">
          <h4 class="paragraph-header">管理主管与员工设定的关键绩效指标，结合执行期间绩效的追踪与辅导，并于期末进行目标达成状况的评核；同时让员工明确知道个人目标与部门及组织间目标的关联性，以强化对绩效目标的承诺度，共同提升企业绩效目标。</h4>
          <div class="login-app-icons">
          
            
          </div>
        </div>

        <!--%= image_tag 'demo/phone.jpg', class: 'pull-right display-image', alt: '', style: 'width:210px' %-->

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h5 class="about-heading"></h5>
          <p>
         
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h5 class="about-heading"></h5>
          <p>
           
          </p>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
      <div class="well no-padding">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'login-form', class: 'smart-form client-form'}) do |f| %>
          <header>
            登入系统
          </header>

          <fieldset>

            <section>
              <label class="label">邮件帐号</label>
              <label class="input"> <i class="icon-append fa fa-user"></i>
                <%= f.email_field :email, autofocus: true %>
                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> 请输入邮件帐号</b>
              </label>
            </section>

            <section>
              <label class="label">密码</label>
              <label class="input"> <i class="icon-append fa fa-lock"></i>
                <%= f.password_field :password, autocomplete: "off" %>
                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> 请输入密码</b>
              </label>
              <div class="note">
                <%= link_to '忘记密码?', miscellaneous_forgot_password_path %>
              </div>
            </section>

            <section>
              <label class="checkbox">
                <%= f.check_box :remember_me %>
                <i></i>保持登入状态</label>
            </section>
          </fieldset>
          <footer>
            <button type="submit" class="btn btn-primary">
              Sign in
            </button>
          </footer>
        <% end %>

      </div>

      

    </div>
  </div>
</div>


<% content_for :scripts do %>
  <script type="text/javascript">
    runAllForms();

    $(function() {
      // Validation
      $("#login-form").validate({
        // Rules for form validation
        rules : {
          email : {
            required : true,
            email : true
          },
          password : {
            required : true,
            minlength : 3,
            maxlength : 20
          }
        },

        // Messages for form validation
        messages : {
          email : {
            required : 'Please enter your email address',
            email : 'Please enter a VALID email address'
          },
          password : {
            required : 'Please enter your password'
          }
        },

        // Do not change code below
        errorPlacement : function(error, element) {
          error.insertAfter(element.parent());
        }
      });
    });
  </script>
<% end %>
